      - name: Generate static dbt docs
        env:
          KEYFILE_CONTENTS: ${{ secrets.DBT_GOOGLE_KEYFILE_CONTENTS }}
        run: |
          # 1. Create the directory dbt expects
          mkdir -p ~/.dbt
          
          # 2. Write the service account JSON to a file
          echo "$KEYFILE_CONTENTS" > ~/.dbt/google_keyfile.json
          
          # 3. Create a CI-specific profiles.yml
          cat <<EOF > ~/.dbt/profiles.yml
          olist_warehouse_project:
            outputs:
              dev:
                type: bigquery
                method: service-account
                project: olist-warehouse
                dataset: dwh_olist
                threads: 4
                keyfile: /home/runner/.dbt/google_keyfile.json
                location: US
                priority: interactive
            target: dev
          EOF

          # 4. Run the command
          dbt docs generate --static
